* {
    box-sizing: border-box;
}

/* ELEMENTS ELEMENTS ELEMENTS */

body {
    background-color: #00123B;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Comfortaa', cursive;
    color: white;

}

input[name="submit"] {
    margin-top: 30px;
    margin-bottom: 200px;
    background-color: #0043E0;
    border: 1px #004BFA solid;
}

input {
    text-align: center;
    border-radius: 10px;
    border: 2px white solid;
    color: white;
    font-size: 20px;
    background-color: transparent;
    height: 50px;
    width: 70%;
    margin-top: 0;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 23px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F2E205;
}

h2 {
    font-size: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 0px;
}

/* ID ID ID ID ID */

#antipodeImage {
    height: 220px;
}

#js-error-message {
    color: red;
    display: none;
}

#map {
    height: 100px;
}

#main-submit-form {
    text-align: center;
}

#plane-image {
    height: 75px;
}

#results-screen {
    display: none;
}

#sub-header {
    display: flex;
    justify-content: space-around;
}

#watch-dog-image {
    height: 150px;
}



/* CLASS CLASS CLASS */

.card {
    border: 5px solid #0038BA;
    border-radius: 10px;
    background-color: #00257A;
    padding-left: 30px;
    padding-right: 30px;

    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.step-font {
    font-family: 'Righteous', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    color: yellow;
}

/* MISC MISC MISC MISC*/

a,
a:visited,
a:link {
    color: white;
    border: white 1px solid;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

input[name="submit"]:hover, input[name="submit"]:focus {
    border: #004BFA 1px solid;
    background-color: #00257A;
}